<!DOCTYPE html>

<%- include('../partials/head');%>

    <body class="container">
        <%- include('../partials/header', {pagina:'sobre'});%>

            <main>

                <div class="bg-danger p-3 mb-5 rounded">
                    <h1>Sobre mim</h1>
                    <p> Sou Mãe e futura programadora</p>

                </div>

            </main>

            <%- include('../partials/footer');%>

    </body>